@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body {
  margin-top: 10px;
  padding:0;
  font-family:sans-serif;
  background-color: rgb(255, 255, 255);
}
.loginbox {
  width: 450px;
  position: absolute;
  top: 100px;
  left: 50%;
  color: black;
  transform: translate(-50%,-50%);
}
.loginbox h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid rgb(116, 115, 113);
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow:hidden;
  font-size:20px;
  padding:14px 0;
  margin:14px 0;
  border-bottom:1px solid rgb(116, 115, 113);
}
.textbox i {
  width: 30px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background:none;
  color:rgb(33, 69, 228);
  font-size:18px;
  width:100%;
  float: left;
  margin:0 30px;
}
.button {
  width:200%;
  background:  #004781;
  border: 1px solid #004781;
  color:white;
  padding: 1px;
  font-size: 18px;
  cursor:pointer;
  margin: 2px 0;
  max-width: 450px;
}

input.ng-untouched.ng-pristineng-invalid{
  margin-left: 15px;
}

#f {
  background-color: #004781;
  height: 150px;
  padding: 40px 70px 6;
  position: absolute;
  height: 7rem;            /* Footer height */
  bottom: 0;
  width: 100%;

}