.row {
    margin: 0 auto;
    width: 280px;
    clear: both;
    text-align: center;
    font-family: 'Exo';
  }
  
  .digit,
  .dig {
    float: left;
    padding: 5px 30px;
    margin: 0px 13px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .sub {
    font-size: 0.8rem;
    color: grey;
  }
  
  .container {
    background-color: white;
    width: 320px;
    padding: 20px;
    margin: 30px auto;
    height: 420px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  #ua-uri {
    font-family: "Exo";
    font-size: 2rem;
    height: 60px;
    font-weight: bold;
    color: #1976d2;
  }
  
  #call {
    display: inline-block;
    width: 60px;
    background-color: #66bb6a;
    padding: 4px 20px;
    margin: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  #endcall {
    display: inline-block;
    width: 60px;
    background-color: red;
    padding: 4px 20px;
    margin: 10px;
    color: white;
    border-radius: 4px;
  
    cursor: pointer;
  }
  
  .botrow {
    margin: 0 auto;
    padding:0 25px;
    width: 280px;
    /* clear: both;
    text-align: center; */
    font-family: 'Exo';
  }
  
  .digit:active,
  .dig:active {
    background-color: #e6e6e6;
  }
  
  #call:hover {
    background-color: #81c784;
  }
  
  .dig {
    float: left;
    padding: 0px 20px;
    margin: 10px;
    width: 30px;
    cursor: pointer;
  }

  #navbar ul { 
    margin: 0; 
    padding: 5px; 
    list-style-type: none; 
    text-align: center; 
    background-color: rgb(35, 55, 99); 
    } 
 
#navbar ul {  
    display: flex;
    justify-content: space-between !important; 
    } 
 

    #navbar ul li a { 
    text-decoration: none; 
    padding: .2em 1em; 
    color: #fff; 
    background-color: rgb(35, 55, 99); 
    } 
 
#navbar ul li a:hover { 
    color: rgb(35, 55, 99); 
    color: lightblue;
    cursor: pointer; 
    } 

 #navbar ul li {
     margin-left: 5%;
     margin-right: 5%; 
 }