<div id="navbar"> 
        <ul> 
          <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
            x="0px" y="0px" width="111px" height="33px" viewBox="0 0 111 33" style="enable-background:new 0 0 111 33; align-self: auto;"
            xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: rgb(78, 76, 76);
              }

              .st1 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: rgb(76, 139, 173);
              }
            </style>
            <g>
              <path class="st0"
                d="M54,14.1c-0.4,1.4-0.8,3.1-1.1,4.9c-0.3,1.5-0.5,3.4-0.7,5.4c-0.2,2.1-0.3,4.4-0.3,6.9c0,0.4,0,0.6-0.1,0.7   C51.7,32,51.5,32,51.2,32c-0.2,0-0.4,0-0.6-0.1c-0.1,0-0.2-0.1-0.2-0.2c-0.9-0.6-1.5-1.7-1.8-3.1c-0.3-1.4-0.5-3-0.5-4.6   c0-1.2,0-2.4,0.1-3.5c0.1-1.1,0.2-2.2,0.4-3.1c0.2-1.1,0.3-2.1,0.5-3.1c0-0.2,0.2-0.4,0.4-0.8c0.2-0.3,0.5-0.6,0.9-1   c0.4-0.3,0.8-0.6,1.4-0.8c0.5-0.2,1.1-0.3,1.8-0.3c0.3,0,0.5,0.1,0.6,0.3c0.1,0.2,0.2,0.4,0.2,0.6c0,0.2-0.1,0.5-0.2,1   C54.1,13.7,54,14,54,14.1L54,14.1z" />
              <path class="st0"
                d="M54.9,3.4L54.9,3.4c-0.2,0.4-0.4,0.8-0.5,1.1c-0.2,0.3-0.3,0.6-0.5,0.8c-0.2,0.2-0.4,0.4-0.6,0.6   c-0.2,0.2-0.4,0.3-0.5,0.4c-0.2,0.1-0.3,0.2-0.5,0.2c-0.2,0.1-0.3,0.1-0.5,0.1c-0.3,0-0.5-0.1-0.7-0.3c-0.2-0.1-0.4-0.4-0.5-0.7   c-0.1-0.3-0.2-0.8-0.2-1.3c0-0.2,0-0.3,0-0.4c0-0.1,0-0.3,0.1-0.5c0-0.3,0.1-0.5,0.2-0.9c0.1-0.2,0.2-0.5,0.4-0.7   c0.2-0.3,0.4-0.5,0.7-0.7l0.6-0.3c0.2-0.1,0.4-0.2,0.6-0.2c0.2-0.1,0.5-0.1,0.8-0.1c0.5,0,0.8,0.1,1.2,0.3c0,0,0.1,0.1,0.2,0.2   c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0.1,0.3,0.1,0.5c0,0.2,0,0.4-0.1,0.7C55.2,2.7,55.1,3,54.9,3.4z" />
              <path class="st1"
                d="M20.5,20.5c0,8-3.4,12-10.2,12c-6.5,0-9.7-3.8-9.7-11.5V3.3h2v17.4c0,6.7,2.7,10,8.1,10c5.2,0,7.9-3.2,7.9-9.7   V3.3h2V20.5L20.5,20.5z M69.9,3.6C69.4,3.2,68.6,3,67.6,3c-2.5,0-3.8,1.7-3.8,5.1v3.4h5.4v1.7h-5.4V32H62V13.2h-3.7v-1.7H62V8   c0-2.2,0.5-3.8,1.6-4.9c1.1-1.1,2.4-1.7,4.1-1.7c0.9,0,1.6,0.1,2.2,0.4V3.6L69.9,3.6z M87.5,32v-3.7h-0.1c-1.4,2.8-3.6,4.2-6.6,4.2   c-4.8,0-7.3-3-7.3-9.1V11.5h1.9v11.4c0,2.8,0.5,4.8,1.4,6c0.9,1.3,2.4,1.9,4.3,1.9c1.9,0,3.4-0.7,4.6-2.1c1.2-1.4,1.8-3.3,1.8-5.6   V11.5h1.8V32H87.5L87.5,32z M108.6,32V20.1c0-4.9-1.8-7.4-5.3-7.4c-2,0-3.6,0.7-4.9,2.2c-1.3,1.4-1.9,3.2-1.9,5.4V32h-1.8V11.5h1.8   v3.7h0.1c1.5-2.8,3.8-4.2,7-4.2c2.2,0,3.9,0.7,5.1,2.2c1.2,1.5,1.8,3.6,1.8,6.3V32H108.6L108.6,32z M40,32V20.1   c0-4.9-1.8-7.4-5.3-7.4c-2,0-3.6,0.7-4.9,2.2c-1.3,1.4-1.9,3.2-1.9,5.4V32h-1.8V11.5h1.8v3.7H28c1.5-2.8,3.8-4.2,7-4.2   c2.2,0,3.9,0.7,5.1,2.2c1.2,1.5,1.8,3.6,1.8,6.3V32H40L40,32z" />
            </g>
          </svg></li> 
          <li><a (click)="logout()">Log Out</a></li> 
        </ul> 
      </div>
<p-table [value]="simBoxes" [(contextMenuSelection)]="selectedSimBox" [contextMenu]="cm">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Name</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-simBox>
      <tr [pContextMenuRow]="rowData" (click)="onClick(simBox)">
          <td>{{simBox.id}}</td>
          <td>{{simBox.name}}</td>
      </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu>

