#navbar ul { 
    margin: 0; 
    padding: 5px; 
    list-style-type: none; 
    text-align: center; 
    background-color: rgb(35, 55, 99); 
    } 
 
#navbar ul {  
    display: flex;
    justify-content: space-between !important; 
    } 
 

    #navbar ul li a { 
    text-decoration: none; 
    padding: .2em 1em; 
    color: #fff; 
    background-color: rgb(35, 55, 99); 
    } 
 
#navbar ul li a:hover { 
    color: rgb(35, 55, 99); 
    color: lightblue;
    cursor: pointer; 
    } 

 #navbar ul li {
     margin-left: 5%;
     margin-right: 5%; 
 }
  
 #simboxtable  {
    background-color: linear-gradient(#56CCF2, #2F80ED);
 }